@import "/styles/include-media.scss";

.testimonials {
  margin: 2em 0;
  display: flex;

  gap: 1em;

  @include media("<=tablet") {
    flex-direction: column-reverse;
  }

  .names {
    flex: 2;
    display: flex;
    flex-direction: column;

    @include media("<=tablet") {
      flex-direction: row;

      p {
        display: none;
      }
    }
    button {
      margin: 0.5em 0;
      padding: 0.4em;
      border-radius: 7px;
      width: 100%;
      transition: all 0.2s;

      &.selected {
        color: white;
        background-color: var(--blue);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
      }
    }
    h4 {
      font-weight: bold;
      margin: 0.5em 0;
    }

    p {
      margin: 0;
      font-size: 0.8em;
    }
  }

  .review {
    flex: 8;
    line-height: 1.5em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      margin: 0.1em 0;
    }

    p {
      margin: 0.2em 0;
    }

    .stars {
      font-size: 1.2em;
      svg {
        color: #ff9900;
      }
    }
  }
}
